vrrp_instance VI_1 {
        state MASTER
        interface enp0s3
        virtual_router_id 51
        priority 255
        advert_int 1
        authentication {
              auth_type PASS
              auth_pass 273061
        }
        virtual_ipaddress {
              {{ vip }}/32
        }
}
